/.settings/                                                                                                                          
/.vscode/                                                                                                                            
/.idea/                                                                                                                              
/.metadata/                                                                                                                          
/.mvn/                                                                                                                               
/target/                                                                                                                             
/reports/                                                                                                                            
/bin/     
/tmp*
/key*                                                                                                                           
.project                                                                                                                             
.classpath                                                                                                                           
.factorypath                                                                                                                         
.jdk8                                                                                                                                
.springBeans                                                                                                                         
*.log                                                                                                                                
.eclipse-pmd
.pmd
.pmdruleset.xml
*.gz
