/.mvn/
/.settings/
.classpath                                                                                                                       
.eclipse-pmd    
.pmd
.pmdruleset.xml 
.project                                                                                                                   
/target/                                                                                                                             
/reports/                                                                                                                            
/bin/                                                                                                                             
*.log        
*.gz